@charset "utf-8";

@media screen and (max-width:1440px) {


    header .inner .gnb {
        font-size: 1.125rem
    }

    nav ul.gnb>li>a {
        padding: 20px;
    }

    .ham_bottom ul li a {
        font-size: 1.125rem;
    }

    .ham_bottom ul li a img {
        width: 24px;
    }


}

@media screen and (max-width:1280px) {

    header.on {
        background: var(--bg_white);
    }

    .inner {
        width: min(100%, calc(1700px + 56px * 2));
        padding-inline: 56px;
    }

    header.on .inner {
        padding-inline: 56px;
    }


    header.on .logo {
        display: none;
    }

    header.on .inner .gnb>li:nth-child(1) a {
        padding-left: 0;
    }

    .ham_bottom ul li:nth-child(1) {
        display: block;
    }

    header.on nav ul.gnb>li:nth-child(1) .sub_wrap {
        display: flex;
    }


    header .inner .gnb {
        display: none;
    }


    header.on .inner .gnb {
        display: flex;
    }

    .nav_right .ham_menu {
        display: block;
        position: relative;
    }

    .nav_right .ham_menu img {
        position: absolute;
        left: 0;
        top: 0;
    }

    .nav_right .ham_menu img:nth-child(2) {
        display: none;
    }

    header.on .nav_right .ham_menu img:nth-child(1) {
        display: none;
    }

    header.on .nav_right .ham_menu img:nth-child(2) {
        display: block;
    }

    .nav_right .user {
        display: none;
    }

    nav .sub_wrap .sub_left {
        padding-inline: 56px;
    }

    nav ul.gnb:hover>li {
        color: var(--ginseng);
    }

    nav ul.gnb>li:hover>a {
        color: var(--ginseng);
    }


    header.on nav ul.gnb>li .sub_img {
        width: 310px;
        height: 310px;
        padding-top: 30px;
        padding-right: 56px;
        /* margin-left: auto; */
    }

    footer .f_center {
        display: block;
    }

    .f_center_right {
        margin-top: 45px;
        width: 100%;
    }

    .f_join form {
        width: 100%;
        max-width: none;
    }

    .search_tab .keyword_wrap {
        width: 866px;
    }

}

@media screen and (max-width:1024px) {

    .search_tab {
        padding-inline: 56px;
        height: 620px;
    }

    .search_tab .keyword_wrap {
        width: 500px;
    }

    footer .inner .logo {
        font-size: 3rem;
    }

    footer .f_center {
        margin-block: 20px 80px;
    }
}

@media screen and (max-width:768px) {


    header {
        position: absolute;
    }

    header.on {
        /* height: auto;
        min-height: 100vh; */

        position: fixed;
        inset: 0;
        width: 100%;
        height: 100vh;
        min-height: 100vh;
        background: var(--bg_white);
        z-index: 9998;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
    }

    .inner {
        padding-inline: 42px;
        width: min(100%, calc(1700px + 42px * 2));
    }

    header.on .inner {
        padding-inline: 42px;
        width: min(100%, calc(1700px + 42px * 2));
        height: auto;
        min-height: auto;
        padding-bottom: 60px;
    }

    header.on .ham_bottom ul li:nth-child(2) {
        display: block;
    }

    header.on .inner {
        padding-inline: 42px;
    }

    header.on .inner nav {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-top: 150px;
        /* max-height: calc(100vh - 124px); */
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
    }

    header.on nav ul.gnb>li {
        width: 100%;
        height: auto;
    }

    header.on nav ul.gnb>li>a {
        padding: 20px 0;
        width: 100%;
    }

    header nav ul.gnb>li:hover .sub_wrap {
        display: none;
    }

    header.on nav ul.gnb>li .sub_wrap {
        height: auto;
        width: 100%;
        padding-top: 12px;
    }

    header.on nav ul.gnb>li.on .sub_wrap,
    header.on nav ul.gnb>li.on:nth-child(1) .sub_wrap {
        display: block;
    }

    header.on nav ul.gnb>li:nth-child(1) .sub_wrap {
        display: none;
    }

    .nav_right .search,
    .nav_right .bag {
        display: none;
    }

    header.on .gnb {
        /* order: 1; */
        flex-direction: column;
        align-items: start;
        padding-bottom: 50px;
        color: var(--ginseng);
        width: 100%;
    }

    header.on .gnb>li {
        /* height: 50px; */
        cursor: pointer;
    }

    header.on .gnb>li>a {
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: space-between;
    }

    header.on .gnb>li>a::after {
        content: '';
        display: block;
        width: 30px;
        height: 30px;
        background-image: url(../asset/img/common/icon_btn_down_1c.svg);
    }

    header.on nav .sub_wrap {
        border: none;
        position: static;
    }

    header.on nav .sub_wrap:nth-child(2) {
        flex-direction: row;
    }

    nav .sub_wrap .sub_left {
        border-bottom: 1px solid var(--grey_c7);
        padding: 0;
        padding-bottom: 20px;
        width: 100%;
        font-size: 1rem;
        padding-left: 10px;
    }

    nav .sub_wrap .sub {
        width: 100%;
        color: var(--txt_sub_77);

    }

    nav ul.gnb>li .sub_img {
        display: none;
    }

    header.on .nav_right {
        position: fixed;
        top: 47px;
        right: 30px;
        left: auto;
        z-index: 669;
    }

    header.on .search_tab .keyword_wrap {
        display: none;
    }

    header.on .search_tab button.close {
        display: none;
    }

    header.on .search_tab {
        position: absolute;
        height: 124px;
        min-width: 300px;
        margin-top: auto;
        padding-bottom: 0;
        padding-inline: 42px;
        margin: 0;
    }

    .ham_bottom {
        display: none;
    }

    header.on .ham_bottom2 {
        display: block;
        width: 100%;
    }

    .search_tab form .search_area button {
        width: 24px;
        height: 24px;
    }

    header.on .search_tab form {
        min-width: 200px;
        margin-right: 80px;
    }

    .search_tab input[type="search"] {
        font-size: 1rem;
    }

    .cart_wrap {
        position: fixed;
        top: 0;
        right: 0;
        transform: translateX(100%);
    }

    .cart_wrap.is-open {
        transform: translateX(0);
    }

    footer .inner .logo {
        font-size: 3rem;
    }

    footer .f_tit {
        font-size: 1rem;
    }

    .f_sns {
        gap: 16px;
    }

}

@media screen and (max-width:640px) {
    .inner {
        padding-inline: 20px;
        width: min(100%, calc(1700px + 20px * 2))
    }

    footer {
        font-size: 0.875rem;
    }

    footer .inner .logo {
        font-size: 1.87rem;
    }


    footer .f_join p {
        width: 100%;
    }

    .f_join form {
        height: 50px;
        font-size: 0.875rem;
    }

    .f_join form input[type="email"] {
        font-size: 0.875rem;
    }

}

@media screen and (max-width:540px) {

    .boj_insta {
        display: none;
    }

    footer .f_center {
        margin-block: 20px 60px;
    }
}

@media screen and (max-width:400px) {

    header {
        height: 80px;
    }

    header .logo {
        font-size: 1.5rem;
        margin-top: 20px;
    }

    .inner {
        padding-inline: 20px;
        width: min(100%, calc(1700px + 20px * 2));
    }

    header.on .inner {
        padding-inline: 20px;
        width: min(100%, calc(1700px + 20px * 2));
    }

    header.on .inner nav {
        padding-top: 120px;
    }

    header.on .search_tab {
        padding-inline: 20px;
        margin: 0 auto;
        width: 100%;
        min-width: 240px;
        height: 80px;
    }

    header.on .search_tab form {
        margin: 20px 0;
    }

    header.on .nav_right {
        top: 20px;
        right: 20px;
    }

    .cart_wrap {
        inset: 0;
        width: 100dvw;
        height: 100dvh;
        /* 풀스크린 안정화 */
        max-width: none;
        border-radius: 0;
        border: 0;
        box-shadow: none;
        background: #fff;
        z-index: 10000;

        /* ✅ 하단에서 올라오는 대신 → 오른쪽에서 왼쪽으로 */
        transform: translateX(100%);
        transition: transform .35s ease;
    }

    .cart_wrap.is-open {
        transform: translateX(0);
    }

    /* 코너 장식 숨기기 */
    .cart_corner {
        display: none;
    }

    .cart_inner {
        height: 100%;
        display: grid;
        grid-template-rows: auto auto 1fr auto auto;
        overflow: hidden;
    }

    .cart_scroll {
        overflow-y: auto;
        min-height: 0;
        -webkit-overflow-scrolling: touch;
        touch-action: pan-y;
        overscroll-behavior: contain;
    }

    .cart_footer {
        padding-bottom: calc(24px + env(safe-area-inset-bottom));
        background: #fff;
    }

    .cart_signup {
        background: #faefe7;
    }

    footer .f_center_right .f_nav {
        width: 100%;
    }

    .f_nav .f_nav_top {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .f_nav_top button {
        display: block;
    }

    .f_nav ul {
        display: none;
    }

    .f_nav ul.down {
        display: block;
        display: flex;
        flex-direction: column;
        gap: 16px;
        color: var(--bg_white);
        margin-top: 12px;

    }

    .f_bottom {
        flex-direction: column;
        gap: 8px;
        align-items: start;
    }

    .f_sns {
        order: -1;
        gap: 8px;
    }
}