@charset "utf-8";

em {
    display: block;
    margin-bottom: 12px;
    font-weight: 500;
    font-size: 1.5rem;
}

p {
    font-weight: 500;
}

span {
    font-size: 1rem;
}

body {
    font-size: 1.125rem;
    line-height: 1.4;
}

main .inner {
    width: 80vw;
}

.tit {
    font-size: 2.5rem;
    margin: 80px 0;
    text-align: center;
}

.line {
    width: 492px;
    height: 44px;
    background: url(../../asset/img/hanbang/line.png) no-repeat;
    margin: auto;
    background-size: cover;
}

.main_visual {
    display: flex;
    min-height: 1040px;
    position: relative;
    overflow: hidden;
}

.bg_img {
    position: absolute;
    width: 100%;
    height: 100%;
}

.bg-item {
    position: absolute;
    display: block;
    max-width: none;
    z-index: -2;
}

.right-bottom {
    right: -350px;
    bottom: -80px;
}

.left-bottom {
    left: -350px;
    bottom: 120px;
}

.main_visual .txt_g {
    width: 90%;
    padding-right: 60px;
    margin-bottom: 80px;
}

.main_visual .txt_g .tit {
    text-align: left;
}

.main_visual .left_text_g .tit {
    margin: 40px 0 10px 0;
}

.main_visual .left {
    flex: 2;
    text-align: center;
}

.norigae_wrapper {
    position: relative;
    width: 200px;
    margin: auto;
}

.norigae_wrapper img {
    width: 100%;
    position: relative;
    z-index: 2;
}

.norigae_wrapper::after {
    content: "";
    position: absolute;
    top: 5px;
    left: -20px;
    width: 100%;
    height: 100%;
    background-image: url("../../asset/img/reward/reward_green.png");
    background-repeat: no-repeat;
    background-size: contain;
    filter: brightness(0) blur(20px);
    opacity: 0.5;
    z-index: 1;
}

.main_visual .right {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn:first-child {
    margin-right: 12px;
}

.btn-white:first-child {
    margin-right: 12px;
}

.list {
    margin: 120px auto;
    width: 76vw;
    text-align: center;
    background-color: var(--img_bg);
    border: 40px solid transparent;
    border-image: url('../../asset/img/reward/corner.png') 40 fill stretch;
}

.vip_tiers .list {
    padding: 40px 0;
}

.vip_tiers .list>ul {
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-around;

}

.list>ul>li {
    margin-right: 24px;

}

/* 색상 추가 해야함 */
.vip_tiers .list>ul>li>ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 260px;
    height: 800px;
    padding: 10px 20px 0 20px;
    border: 1px solid var(--white_f0);
       background-color: #fafafa;
}

/* .vip_tiers .list>ul>li>ul>li:nth-child(3),
.vip_tiers .list>ul>li>ul>li:nth-child(4),
.vip_tiers .list>ul>li>ul>li:nth-child(5),
.vip_tiers .list>ul>li>ul>li:nth-child(6),{} */

.vip_tiers .list>ul>li>ul.on {
    border: 1px solid var(--grey_de);
    /* background-color: #ffffff; */
    box-shadow: 4px 4px 10px rgba(27, 75, 5, 0.1);
}

.vip_tiers .list>ul>li>ul>li:nth-child(1) {
    height: 50px;
    line-height: 3;
    font-weight: 500;
    color: var(--mugwort);
    opacity: 0;
}

.vip_tiers .list>ul>li>ul.on>li:nth-child(1) {
    border-bottom: 1px solid var(--grey_c7);
    opacity: 1;
}

.vip_tiers .list>ul>li>ul>li:nth-child(3),
.vip_tiers .list>ul>li>ul>li:nth-child(4),
.vip_tiers .list>ul>li>ul>li:nth-child(5),
.vip_tiers .list>ul>li>ul>li:nth-child(6),
.vip_tiers .list>ul>li>ul>li:nth-child(7) {
    border-bottom: 1px solid var(--grey_c7);
    padding-bottom: 6px;
        text-align: left;
}

.vip_tiers p {
    font-size: 1rem;
}

.vip_tiers span {
    color: var(--txt_sub_77);
    font-size: 0.9rem;

}

.vip_tiers .list small {
    font-size: 0.9rem;
    color: var(--txt_sub_77);
    display: block;
    width: 92%;
    text-align: left;
    margin-top: 8px;
    padding-left: 60px;

}

.horizontal-scroll-container {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    -ms-overflow-style: none;
    scrollbar-width: none;
padding: 10px 0 30px 10px;
}

.how_it_work .vid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    /* 컨텐츠 뒤로 보내기 */
    background-color: var(--bg_black);
}

.how_it_work .vid video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* 섹션 전체를 꽉 채움 */
    display: block;
}

.how_it_work {
    width: 100%;
    min-height: 1080px;

    padding: 160px 0;
    position: relative;
}

.how_it_work .tit {
    margin: 0 0 80px 0;
}

.how_it_work .list {
    margin-block: 0;
    display: flex;
    justify-content: center;
    min-height: 340px;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.how_it_work .list ul {
    display: flex;
    align-items: center;
    gap: 40px;
}

.how_it_work .list ul>li {
    display: flex;
    flex-direction: column;
}

.how_it_work .list ul>li img {
    height: 90px;
    object-fit: contain;
    margin-bottom: 24px;
}

.redeem_for_products,
.ways_to_earn {
    width: 100%;
    color: var(--white_f0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 1300px;
    padding: 160px 0;

}

.toggle_flex {
    display: none;
    width: 90vw;
}

.toggle_flex .on {
    flex: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 166px;
    max-width: 500px;
    height: 54px;
    line-height: 100%;
    text-align: center;
    border: 26px solid transparent;
    border-image: url('../../asset/img/reward/toggle_redeem_02.svg') 25 fill stretch;
}

.toggle_flex .off {
    flex: 9;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 148px;
    max-width: 500px;
    height: 54px;
    line-height: 100%;
    border: 26px solid transparent;
    border-image: url('../../asset/img/reward/toggle_redeem_01.svg') 25 fill stretch;
    color: var(--txt_sub_77);
}

.ways_to_earn .toggle_flex .on {
    border-image: url('../../asset/img/reward/toggle_redeem_04.svg') 25 fill stretch;
}

.ways_to_earn .toggle_flex .off {
    border-image: url('../../asset/img/reward/toggle_redeem_03.svg') 25 fill stretch;
}

.redeem_for_products .line,
.ways_to_earn .line {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
}

.card_tit {
    margin-bottom: 120px;
}

.bottom {
    width: 100%;
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.arrow::before {
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    background-image: url(../../asset/img/reward/reward_arrow.svg);
    background-size: 100% 100%;
    margin-right: 8px;
}

.dis {
    opacity: 50%;
}

.artlcle_g {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.artlcle_g>div {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: center;
}

.artlcle_g .box {
    background: var(--bg_footer) url(../../asset/img/reward/img_Earn_Birthday.png) no-repeat calc(100% - 20px) calc(100% - 20px);
    flex: 1;
    height: 180px;
    min-width: 300px;
    max-width: 750px;
    position: relative;
    padding: 16px;
    background-size: auto 70px;
    /* border-top: 4px solid var(--txt_sub_44); */
}

.box_g {
    flex: 1;
    display: flex;
    gap: 16px;
    justify-content: center;
    flex-wrap: wrap;
}

.redeem_for_products {
    position: relative;
    overflow: hidden;
    background: linear-gradient(180deg, #000 0%, #040403 100%);
}


.ways_to_earn {
    position: relative;
    background: url('../../asset/img/reward/Earn_bg.png') center/cover no-repeat;
    overflow: hidden;
}

.ways_to_earn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../../asset/img/reward/Earn_bg_blur.png') center/cover no-repeat;
    opacity: 1;
    pointer-events: none;
}

.ways_to_earn.animate::before {
    animation: fadeInOut 3s ease-out forwards;
}

@keyframes fadeInOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.redeem_for_products .box1 {
    background-image: url(../../asset/img/reward/img_Redeem_01.png);
    background-size: auto 55px;
}

.redeem_for_products .box2 {
    background-image: url(../../asset/img/reward/img_Redeem_02.png);
    background-size: auto 60px;
}

.redeem_for_products .box3 {
    background-image: url(../../asset/img/reward/img_Redeem_03.png);
    background-size: auto 50px;
}

.redeem_for_products .box4 {
    background-image: url(../../asset/img/reward/img_Redeem_04.png);
    background-size: auto 80px;
}

.redeem_for_products .box5 {
    background-image: url(../../asset/img/reward/img_Redeem_Convert.png);
    background-size: auto 50px;
}

.redeem_for_products .box6 {
    background-image: url(../../asset/img/reward/img_Redeem_off.png);
    background-size: auto 50px;
}

.redeem_for_products .box7 {
    background-image: url(../../asset/img/reward/img_Redeem_off.png);
    background-size: auto 50px;
}



.ways_to_earn .box1 {
    background-image: url(../../asset/img/reward/img_Earn_Join.png);
}

.ways_to_earn .box1 .arrow::before {
    background-image: url(../../asset/img/reward/reward_check.svg);
    width: 20px;
    height: 14px;
}

.ways_to_earn .box2 {
    background-image: url(../../asset/img/reward/img_Earn_Order.png);
}

.ways_to_earn .box3 {
    background-image: url(../../asset/img/reward/img_Earn_Review.png);
}

.ways_to_earn .box4 {
    background-image: url(../../asset/img/reward/img_Earn_Friend.png);
    background-size: auto 50px;
}

.ways_to_earn .box5 {
    background-image: url(../../asset/img/reward/img_Earn_Instagram.png);
}

.ways_to_earn .box6 {
    background-image: url(../../asset/img/reward/img_Earn_TikTok.png);
}

.ways_to_earn .box7 {
    background-image: url(../../asset/img/reward/img_Earn_Birthday.png);
}

.arrow {
    display: inline-block;
    transform-origin: left bottom;
    /* 왼쪽 아래 기준 */
    transition: transform 0.3s ease;
    /* 부드럽게 애니메이션 */
}

.box:hover .arrow {
    transform: scale(1.1);
    /* 1.1배 확대 */
}

.box::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--redbean);
    z-index: 0;
    /* 콘텐츠 뒤로 보내기 */
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 0;
    mix-blend-mode: screen;
    /* 밝게 섞이게 함 */
    filter: brightness(1.2) contrast(1.1) saturate(1.1);
    /* 좀 더 선명하고 밝게 */
}

.box:hover::after {
    opacity: 0.2;
    /* 살짝 투명도 변경 가능 */
}

.friend {
    width: 100%;
    height: 400px;
    background-color: var(--txt_sub_44);
    color: var(--white_f0);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
}

.friend h2 {
    font-size: 2.5rem;
    font-family: var(--tit_font);
    font-weight: 500;
    line-height: 1;
}

.FAQ {
    width: 100%;
    padding: 160px 0;
    background-image: url(../../asset/img/reward/reward_FAQ_bg.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-color: #f8f8f8;
}

.FAQ ul {
    list-style: none;
    padding: 20px 40px 60px 40px;
    margin: auto;
}

.FAQ ul li {
    border-bottom: 1px solid var(--txt_sub_44);
}

.accordion-content span {
    color: var(--txt_sub_44);
}

.accordion-list {
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
}

.accordion-title {
    padding: 20px 10px 10px 10px;
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}

.toggle-icon {
    font-size: 2rem;
    transition: transform 0.5s;
}

.accordion-content {
    padding: 0 15px 15px 15px;
    display: none;
    overflow: hidden;
}

.accordion-title.active .toggle-icon {
    content: "—";
    transform: rotate(180deg);
}

.accordion-content.active {
    display: block;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #ffffff;
}

::-webkit-scrollbar-thumb {
    background: #ab9595;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: #d4cebb;
}